CompileFlags:
  Add: [-Wall, -Wextra, -std=c++20]
  Remove: [-W*, -std*] # Remove old warning flags and C++ standard flags
  CompilationDatabase: build # Specify where to find compile_commands.json

Index:
  Background: Build # Build the index in the background
  StandardLibrary: Yes # Include the standard library in indexing

Diagnostics:
  UnusedIncludes: Strict # Warn about unused includes
  ClangTidy:
    Add: [performance*, modernize*, readability*]
    Remove: [modernize-use-trailing-return-type, readability-identifier-length]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

---
If:
  PathMatch: .*\.(hpp|cpp)$
CompileFlags:
  Add: [-Wno-unused-parameter]